<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        
        block styles
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-dark
            a.nav-link(href="/" class= path==="/"? "active": "" ) Home
            a.nav-link(href="/admin/admin" class=path==="/admin/admin" ? "active": "") Add product 
            a.nav-link(href="/about" class=path==="/about" ? "active": "") About
        block content

        


