<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/admin.css"/>
</head>
<body>
    <h2>welcome</h2>
    <form action="/create" method="post">
         <label for="title">
         Title:
         <input type="text" id= "title" name ="title"/>
         <input type="submit" value="send" />
         </label>
        </form>
</body>
</html>